# Manifest.in file for isbg
include CHANGELOG CONTRIBUTORS LICENSE README.rst requirements.txt tox.ini

graft examples
graft bash_scripts
recursive-include tests/ *.py
include *.rst
include docs/conf.py
include docs/*.rst
recursive-include . Makefile
